# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

bridge/src/main/resources/native/steel-provider

# This file is copied when running `mise run copy-binary` and is included in the final JAR,
# but there's no reason to keep it in the repository since it's just copied from `steel-provider/LICENSE-AGPL`
bridge/src/main/resources/META-INF/LICENSE-AGPL.txt
